/**
 * Created by atran on 02/09/2020.
 */
.box-layout {
    .flex-box {
        display: flex;

        .flex-fill {
            width: 100%;
        }

        .x-form-item {
            width: 100%;
        }
    }
}
