.x-action-col-icon {
  font-size: 12px !important;
  color: #d3d3d3 !important;
  padding: 1px;
}

label {
  line-height: 32px;
}

.x-tab-bar-default {
  height: 40px;
}

.x-tab-bar-body-default {
  min-height: 40px !important;
  padding: 4px 4px 0 4px !important;
}

.x-toolbar-footer {
  background-color: transparent !important;
}
