.x-action-col-icon {
  font-size: 12px !important;
  color: #d3d3d3 !important;
  padding: 1px;
}

label {
  line-height: 32px;
}

.x-tab-bar-default {
  height: 40px;
}

.x-tab-bar-body-default {
  min-height: 40px !important;
  padding: 4px 4px 0 4px !important;
}

.x-toolbar-footer {
  padding: 6px 0 0 6px !important;
  background-color: transparent !important;
}

//.x-btn-default-small {
//  padding: 3px !important;
//}

//.x-form-text-default {
//  min-height: unset !important;
//}